# Restricted folders
obj/
JG/debug/
JG/obj/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!soplugins/*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/core86/hcc
jimp

# Profiles
callgrind.out.*
out.txt

# Folders
build
*CMakeFiles
cmake_install.cmake
JG/cmake_install.cmake
CMakeCache.txt
